/* general settings */
#myTitle {
  color: rgb(46, 51, 51);
  width: max-content;
  max-width: max-content;
  background: rgb(46, 51, 51);
  text-align: center;
  padding-bottom: 0;
}

.navbar {
    border-bottom: 4px solid #6e6e6e;
    width: 100%;
    padding-bottom: 0px;
    /* margin-bottom: auto; */
}

.nav-item {
    text-align: right;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: 650;
    text-align: center;
    color: #6e6e6e;
    padding-top: 20px;
    font-size: 22px;
    line-height: 40px;
}
h2 {
    padding-top: 20px;
    font-size: 20px;
    border-bottom: 2px solid #6e6e6e;
}

h3 {
    font-size: 20px;

}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #6e6e6e;
    background: url("../images/background.png");
}

.container, .container-contact {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    
    

}
.container1 {
    border: 3px solid #6e6e6e;
    background-color: rgb(46, 51, 51);
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 204px;
    height: auto;

}

h1,
h2,
p {
    margin-bottom: 20px;
    text-decoration: none; 
}

p:last-child {
    margin-bottom: 0;
}

/* my picture settings */

#auth-image {
    width: 210px;
    height: auto;
    margin-right: 30px;
    margin-top: 15px;
}

/* portfolio page settings */

.work {
    position: relative;
    height: max-content;
    margin: 30px 15px 15px 15px;
    /* overflow: auto; */
    border: 3px solid #6e6e6e;
}

.img-fluid {
    height: auto;
    max-width: 100%;
}

.caption {
    text-align: center;
    /* position: absolute;
    left: 0;
    top: 100;
    right: 0;
    bottom: 0; */
    /* margin: auto; */
    margin-top: max-content;
    width: 100%;
    height: max-content;
    background:rgb(46, 51, 51);
    border-top: 2px solid #6e6e6e;
}
.caption a {
    color: #6e6e6e;
}


/* Sticky Footer */
html, body {
    height: 100%;
}

.wrap, .wrap-contact {
    /* background-color: rgb(46, 51, 51); */
    min-height: 100vh;
    /* equal to footer height */
    margin-bottom: -115px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

footer,
.push {
  height: 115px;
}
/* end of sticky footer */
footer {
    margin-top: 5%;
    text-align: center;
    background: rgb(46, 51, 51);
    font-size: 10px;
    border-top: 4px solid #6e6e6e;
    /* clear: both; */
    color: #6e6e6e;
    padding-top: auto;
    width: 100%;
}

.main-section, .main-section-contact {
    width: 100%;
    height: max-content;
    max-width: 960px;
    padding: 30px;
    margin-top: 5%;
    margin-bottom: 147px;
    background: #313131;
    border: 2px solid #6e6e6e;
}

/* Contact Page Settings */

input[type=submit] {
    padding: 10px 25px;
    font-size: 20px;
    color: #343A40;
    background: rgb(66, 73, 73);
    border-color: #6e6e6e
}

/* Hover Styling */

nav a:hover, .caption a:hover, #myTitle:hover, input[type=submit]:hover {
    background-color: lightgrey;
}

/* media code for reponsiveness */

@media screen and (min-width:768px){
    h3 {
      font-size: 15px;
    }
  
  }
@media screen and (max-width:992px) {
  .container, .container1, .work, .main-section, .wrap, .caption {
    max-width: 700px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .container-contact, .main-section-contact, .wrap-contact {
        display: flex;
        width: 90vw;
        height: max-content;
        flex-direction: column;
    }

    h1 {
        font-size: 28px;
    }
    p {
        font-size: 20px;
    }
    h2 {
        font-size: 23px;
    }
}
@media screen and (max-width:768px){
    p {
        font-size: 22px;
    }
    h2 {
        font-size: 25px;
    }
    h1 {
        font-size: 28px;
    }
    #myTitle {
        clear: both;
        position: relative;
        float: left; 
        
    }
    .container, .container1, .work, .main-section, .wrap, .caption {
        max-width: 500px;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    #auth-image {
        width: 150px;
        height: auto;
        margin-right: 30px;
        margin-top: 15px;
    }

}

